# for germany dataset

In [349]:



import requests
from bs4 import BeautifulSoup

In [350]:
import pandas as pd
import numpy as np
import math
uk=pd.read_csv("germany_datasets.csv")
#sdf=pd.read_csv("switzerland.csv")
#df=pd.read_csv("uk.csv")

In [351]:
#df

In [352]:
#len(sdf['Description'].unique().tolist())

In [353]:
#len(df['Description'].unique().tolist())

In [354]:
#len(sdf['CustomerID'].unique().tolist())

In [355]:
#len(df['CustomerID'].unique().tolist())

In [356]:
len(uk['Description'].unique().tolist())

1703

In [357]:
len(uk['CustomerID'].unique().tolist())

95

In [358]:
uk

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,554985,20963,APPLE BATH SPONGE,10,5/29/2011 12:26,1.25,12426,Germany
1,554985,21165,BEWARE OF THE CAT METAL SIGN,12,5/29/2011 12:26,1.69,12426,Germany
2,554985,22849,BREAD BIN DINER STYLE MINT,1,5/29/2011 12:26,16.95,12426,Germany
3,554985,23184,BULL DOG BOTTLE OPENER,4,5/29/2011 12:26,4.95,12426,Germany
4,554985,22976,CIRCUS PARADE CHILDRENS EGG CUP,12,5/29/2011 12:26,1.25,12426,Germany
...,...,...,...,...,...,...,...,...
9490,565430,23547,WRAP FLOWER SHOP,25,9/4/2011 13:07,0.42,14335,Germany
9491,565430,16169K,WRAP FOLK ART,25,9/4/2011 13:07,0.42,14335,Germany
9492,565430,23233,WRAP POPPIES DESIGN,25,9/4/2011 13:07,0.42,14335,Germany
9493,565430,22704,WRAP RED APPLES,25,9/4/2011 13:07,0.42,14335,Germany
9494,565430,23232,WRAP VINTAGE LEAF DESIGN,25,9/4/2011 13:07,0.42,14335,Germany

In [359]:
uk.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID       int64
Country         object
dtype: object

In [360]:
uk['CustomerID'] = uk['CustomerID'].astype(str)
uk.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID      object
Country         object
dtype: object

In [361]:
nil=uk[uk['InvoiceNo']=='560939']
nil

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [362]:
apple=uk.dropna()
apple

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,554985,20963,APPLE BATH SPONGE,10,5/29/2011 12:26,1.25,12426,Germany
1,554985,21165,BEWARE OF THE CAT METAL SIGN,12,5/29/2011 12:26,1.69,12426,Germany
2,554985,22849,BREAD BIN DINER STYLE MINT,1,5/29/2011 12:26,16.95,12426,Germany
3,554985,23184,BULL DOG BOTTLE OPENER,4,5/29/2011 12:26,4.95,12426,Germany
4,554985,22976,CIRCUS PARADE CHILDRENS EGG CUP,12,5/29/2011 12:26,1.25,12426,Germany
...,...,...,...,...,...,...,...,...
9490,565430,23547,WRAP FLOWER SHOP,25,9/4/2011 13:07,0.42,14335,Germany
9491,565430,16169K,WRAP FOLK ART,25,9/4/2011 13:07,0.42,14335,Germany
9492,565430,23233,WRAP POPPIES DESIGN,25,9/4/2011 13:07,0.42,14335,Germany
9493,565430,22704,WRAP RED APPLES,25,9/4/2011 13:07,0.42,14335,Germany
9494,565430,23232,WRAP VINTAGE LEAF DESIGN,25,9/4/2011 13:07,0.42,14335,Germany

In [363]:
len(apple['CustomerID'].unique().tolist())

95

In [364]:
len(apple['Description'].unique().tolist())

1703

In [365]:
nil=apple[apple['Quantity']<=0]
nil.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
35,C579090,84598,BOYS ALPHABET IRON ON PATCHES,-288,11/28/2011 10:48,0.21,12427,Germany
43,C539866,22636,CHILDS BREAKFAST SET CIRCUS PARADE,-2,12/23/2010 10:20,7.65,12427,Germany
46,C539866,22634,CHILDS BREAKFAST SET SPACEBOY,-4,12/23/2010 10:20,8.50,12427,Germany
52,C539866,22300,COFFEE MUG DOG + BALL DESIGN,-3,12/23/2010 10:20,2.55,12427,Germany
79,C560564,22352,LUNCH BOX WITH CUTLERY RETROSPOT,-1,7/19/2011 13:42,2.55,12468,Germany

In [366]:
a=nil.head()
a

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
35,C579090,84598,BOYS ALPHABET IRON ON PATCHES,-288,11/28/2011 10:48,0.21,12427,Germany
43,C539866,22636,CHILDS BREAKFAST SET CIRCUS PARADE,-2,12/23/2010 10:20,7.65,12427,Germany
46,C539866,22634,CHILDS BREAKFAST SET SPACEBOY,-4,12/23/2010 10:20,8.50,12427,Germany
52,C539866,22300,COFFEE MUG DOG + BALL DESIGN,-3,12/23/2010 10:20,2.55,12427,Germany
79,C560564,22352,LUNCH BOX WITH CUTLERY RETROSPOT,-1,7/19/2011 13:42,2.55,12468,Germany

In [367]:
new=apple.copy()

In [368]:
new.drop(new[new.Quantity<=0].index,inplace=True)
new

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,554985,20963,APPLE BATH SPONGE,10,5/29/2011 12:26,1.25,12426,Germany
1,554985,21165,BEWARE OF THE CAT METAL SIGN,12,5/29/2011 12:26,1.69,12426,Germany
2,554985,22849,BREAD BIN DINER STYLE MINT,1,5/29/2011 12:26,16.95,12426,Germany
3,554985,23184,BULL DOG BOTTLE OPENER,4,5/29/2011 12:26,4.95,12426,Germany
4,554985,22976,CIRCUS PARADE CHILDRENS EGG CUP,12,5/29/2011 12:26,1.25,12426,Germany
...,...,...,...,...,...,...,...,...
9490,565430,23547,WRAP FLOWER SHOP,25,9/4/2011 13:07,0.42,14335,Germany
9491,565430,16169K,WRAP FOLK ART,25,9/4/2011 13:07,0.42,14335,Germany
9492,565430,23233,WRAP POPPIES DESIGN,25,9/4/2011 13:07,0.42,14335,Germany
9493,565430,22704,WRAP RED APPLES,25,9/4/2011 13:07,0.42,14335,Germany
9494,565430,23232,WRAP VINTAGE LEAF DESIGN,25,9/4/2011 13:07,0.42,14335,Germany

In [369]:
new[new['Quantity']<=0].head()

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [370]:
uk

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,554985,20963,APPLE BATH SPONGE,10,5/29/2011 12:26,1.25,12426,Germany
1,554985,21165,BEWARE OF THE CAT METAL SIGN,12,5/29/2011 12:26,1.69,12426,Germany
2,554985,22849,BREAD BIN DINER STYLE MINT,1,5/29/2011 12:26,16.95,12426,Germany
3,554985,23184,BULL DOG BOTTLE OPENER,4,5/29/2011 12:26,4.95,12426,Germany
4,554985,22976,CIRCUS PARADE CHILDRENS EGG CUP,12,5/29/2011 12:26,1.25,12426,Germany
...,...,...,...,...,...,...,...,...
9490,565430,23547,WRAP FLOWER SHOP,25,9/4/2011 13:07,0.42,14335,Germany
9491,565430,16169K,WRAP FOLK ART,25,9/4/2011 13:07,0.42,14335,Germany
9492,565430,23233,WRAP POPPIES DESIGN,25,9/4/2011 13:07,0.42,14335,Germany
9493,565430,22704,WRAP RED APPLES,25,9/4/2011 13:07,0.42,14335,Germany
9494,565430,23232,WRAP VINTAGE LEAF DESIGN,25,9/4/2011 13:07,0.42,14335,Germany

In [371]:
new.drop(['InvoiceNo', 'InvoiceDate','UnitPrice','Country','Description'], axis=1)

     StockCode  Quantity CustomerID
0        20963        10      12426
1        21165        12      12426
2        22849         1      12426
3        23184         4      12426
4        22976        12      12426
...        ...       ...        ...
9490     23547        25      14335
9491    16169K        25      14335
9492     23233        25      14335
9493     22704        25      14335
9494     23232        25      14335

[9042 rows x 3 columns]

In [372]:
new_matrix = pd.pivot_table(new, values='Quantity', index='CustomerID', columns='StockCode')
new_matrix

StockCode,10002,10125,10135,11001,15034,15036,15039,15044A,15044B,15044D,...,90170,90173,90201A,90201B,90201C,90201D,90202D,90204,M,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
12427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.333333
12468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
12471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.350000
12472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.666667
13816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
13817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500000
14335,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [373]:
print(new_matrix.shape)
new_matrix.dropna(axis=0,how="all")
new_matrix.drop(columns=["M",'POST'])

(94, 1665)

StockCode,10002,10125,10135,11001,15034,15036,15039,15044A,15044B,15044D,...,90161C,90161D,90170,90173,90201A,90201B,90201C,90201D,90202D,90204
CustomerID,,,,,,,,,,,,,,,,,,,,,
12426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14335,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [374]:
print(new_matrix.shape)

(94, 1665)

In [375]:
new=new_matrix.copy()
test=new.loc[:,["10002",]]
print(len(test['10002'].unique().tolist()))
#test1=new_matrix.copy()
#test1.
t=test.copy()
t1=t.dropna()
len(t1['10002'].tolist())

2

1

In [376]:
#new_matrix.describe()

In [377]:
#new_matrix.mean()

In [378]:
#new_matrix.fillna(new_matrix.mean())
new_matrix.fillna(0)

StockCode,10002,10125,10135,11001,15034,15036,15039,15044A,15044B,15044D,...,90170,90173,90201A,90201B,90201C,90201D,90202D,90204,M,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12426,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.000000
12427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.333333
12468,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.000000
12471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.350000
12472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13814,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
13815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.666667
13816,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.000000
13817,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.500000
14335,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [379]:
#new_matrix=new_matrix.drop(['nan',])
#new_matrix

In [380]:

customer_index_of_uk=new_matrix.index.values
customer_index_of_uk

array(['12426', '12427', '12468', '12471', '12472', '12473', '12474',
       '12475', '12476', '12477', '12479', '12480', '12481', '12492',
       '12497', '12498', '12500', '12501', '12504', '12516', '12517',
       '12518', '12519', '12520', '12521', '12522', '12524', '12526',
       '12527', '12528', '12530', '12531', '12534', '12559', '12560',
       '12561', '12566', '12569', '12572', '12580', '12581', '12585',
       '12590', '12592', '12600', '12601', '12603', '12609', '12612',
       '12613', '12614', '12619', '12621', '12622', '12623', '12625',
       '12626', '12627', '12628', '12633', '12635', '12642', '12644',
       '12645', '12647', '12648', '12649', '12654', '12658', '12662',
       '12665', '12668', '12673', '12693', '12701', '12702', '12703',
       '12705', '12708', '12709', '12710', '12712', '12713', '12720',
       '12738', '13810', '13811', '13812', '13813', '13814', '13815',
       '13816', '13817', '14335'], dtype=object)

In [381]:
import numpy as np; import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

#df123 = pd.DataFrame(np.random.randint(0, 2, (3, 5)))

#df
##     0  1  2  3  4
##  0  1  1  1  0  0
##  1  0  0  1  1  1
##  2  0  1  0  1  0
 
#cosine_similarity(df123)
##  array([[ 1.        ,  0.33333333,  0.40824829],
##         [ 0.33333333,  1.        ,  0.40824829],
##         [ 0.40824829,  0.40824829,  1.        ]])

In [382]:
#df123

In [418]:
aq=pd.DataFrame(cosine_similarity(new_matrix.fillna(0)),index=customer_index_of_uk,columns=customer_index_of_uk)
aq

,12426,12427,12468,12471,12472,12473,12474,12475,12476,12477,...,12738,13810,13811,13812,13813,13814,13815,13816,13817,14335
12426,1.000000,0.018553,0.110475,0.052949,0.130029,0.054869,0.099553,0.092818,0.071789,0.026434,...,0.001357,0.099166,0.010141,0.048236,0.035231,0.053322,0.018261,0.102156,0.158904,0.002612
12427,0.018553,1.000000,0.010453,0.015785,0.032536,0.000708,0.020260,0.000548,0.006669,0.002639,...,0.009325,0.011179,0.001111,0.009385,0.001811,0.000556,0.002016,0.010672,0.000260,0.000000
12468,0.110475,0.010453,1.000000,0.084903,0.207272,0.101512,0.183253,0.055773,0.085761,0.031854,...,0.074361,0.069628,0.003832,0.190971,0.031865,0.010074,0.027851,0.369278,0.213596,0.005922
12471,0.052949,0.015785,0.084903,1.000000,0.190239,0.200843,0.198834,0.046858,0.101297,0.061858,...,0.100395,0.054015,0.006998,0.089823,0.080654,0.093048,0.075397,0.084220,0.112286,0.072145
12472,0.130029,0.032536,0.207272,0.190239,1.000000,0.183748,0.358772,0.075909,0.117473,0.064928,...,0.086949,0.129237,0.002643,0.115239,0.113749,0.129831,0.125985,0.184429,0.082218,0.149087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13814,0.053322,0.000556,0.010074,0.093048,0.129831,0.001951,0.104983,0.000000,0.038115,0.066553,...,0.163365,0.060491,0.000000,0.006109,0.113495,1.000000,0.093977,0.058645,0.007930,0.016132
13815,0.018261,0.002016,0.027851,0.075397,0.125985,0.123713,0.075814,0.037433,0.044628,0.027690,...,0.064956,0.026423,0.002793,0.040605,0.027128,0.093977,1.000000,0.011660,0.025516,0.000432
13816,0.102156,0.010672,0.369278,0.084220,0.184429,0.018925,0.153886,0.006342,0.023941,0.014073,...,0.000628,0.001241,0.004696,0.019799,0.010421,0.058645,0.011660,1.000000,0.146074,0.003628
13817,0.158904,0.000260,0.213596,0.112286,0.082218,0.085892,0.072869,0.090596,0.129530,0.028232,...,0.000606,0.058596,0.004525,0.100924,0.096310,0.007930,0.025516,0.146074,1.000000,0.006215
14335,0.002612,0.000000,0.005922,0.072145,0.149087,0.071926,0.076921,0.007476,0.012218,0.012477,...,0.000000,0.003951,0.000000,0.000000,0.005361,0.016132,0.000432,0.003628,0.006215,1.000000

In [384]:
t1=aq.iloc[0:1]
t1

,12426,12427,12468,12471,12472,12473,12474,12475,12476,12477,...,12738,13810,13811,13812,13813,13814,13815,13816,13817,14335
12426,1.0,0.018553,0.110475,0.052949,0.130029,0.054869,0.099553,0.092818,0.071789,0.026434,...,0.001357,0.099166,0.010141,0.048236,0.035231,0.053322,0.018261,0.102156,0.158904,0.002612

In [385]:
t2=t1[t1>0]
t2

,12426,12427,12468,12471,12472,12473,12474,12475,12476,12477,...,12738,13810,13811,13812,13813,13814,13815,13816,13817,14335
12426,1.0,0.018553,0.110475,0.052949,0.130029,0.054869,0.099553,0.092818,0.071789,0.026434,...,0.001357,0.099166,0.010141,0.048236,0.035231,0.053322,0.018261,0.102156,0.158904,0.002612

In [386]:
len(t2.dropna(axis=1).values[0])

92

In [387]:
#check the list no of repetation of non zero value
def tofindthe_no_with_lesser_Data():
    needed=[]
    count=0
    for i in range(0,3920):
        t3=aq.iloc[i:i+1]
        t4=t3[t3>0]

        if(len(t4.dropna(axis=1).values[0]))<70:
            print(len(t4.dropna(axis=1).values[0]))
            needed.append(i)
            count=count+1
    print("count",count)
    print(needed)
# tofindthe_no_with_lesser_Data

In [388]:
cluster_head=[]
for i in range(1,16):
    cluster_head.append(customer_index_of_uk[5*i])

print(cluster_head)
print(len(cluster_head))

['12473', '12479', '12498', '12517', '12522', '12530', '12561', '12581', '12601', '12614', '12625', '12635', '12648', '12665', '12702']
15

In [389]:
aq

,12426,12427,12468,12471,12472,12473,12474,12475,12476,12477,...,12738,13810,13811,13812,13813,13814,13815,13816,13817,14335
12426,1.000000,0.018553,0.110475,0.052949,0.130029,0.054869,0.099553,0.092818,0.071789,0.026434,...,0.001357,0.099166,0.010141,0.048236,0.035231,0.053322,0.018261,0.102156,0.158904,0.002612
12427,0.018553,1.000000,0.010453,0.015785,0.032536,0.000708,0.020260,0.000548,0.006669,0.002639,...,0.009325,0.011179,0.001111,0.009385,0.001811,0.000556,0.002016,0.010672,0.000260,0.000000
12468,0.110475,0.010453,1.000000,0.084903,0.207272,0.101512,0.183253,0.055773,0.085761,0.031854,...,0.074361,0.069628,0.003832,0.190971,0.031865,0.010074,0.027851,0.369278,0.213596,0.005922
12471,0.052949,0.015785,0.084903,1.000000,0.190239,0.200843,0.198834,0.046858,0.101297,0.061858,...,0.100395,0.054015,0.006998,0.089823,0.080654,0.093048,0.075397,0.084220,0.112286,0.072145
12472,0.130029,0.032536,0.207272,0.190239,1.000000,0.183748,0.358772,0.075909,0.117473,0.064928,...,0.086949,0.129237,0.002643,0.115239,0.113749,0.129831,0.125985,0.184429,0.082218,0.149087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13814,0.053322,0.000556,0.010074,0.093048,0.129831,0.001951,0.104983,0.000000,0.038115,0.066553,...,0.163365,0.060491,0.000000,0.006109,0.113495,1.000000,0.093977,0.058645,0.007930,0.016132
13815,0.018261,0.002016,0.027851,0.075397,0.125985,0.123713,0.075814,0.037433,0.044628,0.027690,...,0.064956,0.026423,0.002793,0.040605,0.027128,0.093977,1.000000,0.011660,0.025516,0.000432
13816,0.102156,0.010672,0.369278,0.084220,0.184429,0.018925,0.153886,0.006342,0.023941,0.014073,...,0.000628,0.001241,0.004696,0.019799,0.010421,0.058645,0.011660,1.000000,0.146074,0.003628
13817,0.158904,0.000260,0.213596,0.112286,0.082218,0.085892,0.072869,0.090596,0.129530,0.028232,...,0.000606,0.058596,0.004525,0.100924,0.096310,0.007930,0.025516,0.146074,1.000000,0.006215
14335,0.002612,0.000000,0.005922,0.072145,0.149087,0.071926,0.076921,0.007476,0.012218,0.012477,...,0.000000,0.003951,0.000000,0.000000,0.005361,0.016132,0.000432,0.003628,0.006215,1.000000

In [390]:

aq_cluster=aq[cluster_head]
aq_cluster

,12473,12479,12498,12517,12522,12530,12561,12581,12601,12614,12625,12635,12648,12665,12702
12426,0.054869,0.002783,0.002872,0.083353,0.012970,0.001062,0.070026,0.029813,0.056858,0.000000,0.083150,0.043374,0.001868,0.002715,0.004134
12427,0.000708,0.006576,0.001124,0.020467,0.000075,0.003706,0.000000,0.000172,0.000168,0.002648,0.003196,0.001794,0.000205,0.000297,0.000453
12468,0.101512,0.051521,0.037257,0.109448,0.009544,0.082791,0.017641,0.021938,0.116717,0.000000,0.113867,0.090576,0.000706,0.001026,0.001562
12471,0.200843,0.070814,0.011555,0.212614,0.002607,0.028464,0.073324,0.035449,0.047795,0.000000,0.150837,0.106898,0.043132,0.141251,0.001236
12472,0.183748,0.042500,0.096392,0.207732,0.003381,0.157929,0.077149,0.007771,0.050468,0.009186,0.298679,0.082529,0.175080,0.000708,0.001078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13814,0.001951,0.134390,0.000000,0.136869,0.003424,0.004734,0.006504,0.007870,0.030830,0.003928,0.151247,0.013740,0.008326,0.000000,0.000000
13815,0.123713,0.051378,0.035060,0.111392,0.003741,0.113465,0.014463,0.003932,0.013627,0.005823,0.069281,0.029767,0.064392,0.000748,0.001139
13816,0.018925,0.001289,0.001330,0.043291,0.011696,0.004863,0.021619,0.026885,0.000712,0.000000,0.008933,0.068292,0.000865,0.001257,0.036376
13817,0.085892,0.001241,0.001281,0.081734,0.007614,0.014512,0.013886,0.017502,0.029940,0.000000,0.067966,0.059687,0.000833,0.001211,0.001845
14335,0.071926,0.000000,0.003763,0.003938,0.000000,0.001391,0.132743,0.191458,0.003020,0.000000,0.138799,0.005683,0.000000,0.000000,0.000000

In [391]:
len(aq_cluster.index)

94

In [392]:
main_numpy_matrix=aq_cluster.to_numpy()
print(len(main_numpy_matrix[1]))
main_numpy_matrix[3]

15

array([0.20084303, 0.07081446, 0.0115553 , 0.21261411, 0.00260694,
       0.02846391, 0.07332405, 0.03544944, 0.04779515, 0.        ,
       0.15083687, 0.10689817, 0.0431324 , 0.14125058, 0.00123581])

In [393]:
k=int(input("enter value of cluster 15"))

enter value of cluster 1515

In [394]:
nd=[]
for i in range(0,k):
    nd.append([])
md=[]
for i in range(0,k):
    md.append([])

def max_and_index(ar):
    max_val=ar[0]
    ind=0
    for a in range(0,len(ar)):
        for b in range(0,len(ar)):
            if(ar[b]<=max_val):
                max_val=ar[b]
                ind=b
    return max_val,ind

def mean_of_cluster(two_d_array):
    array_of_mean=[]
    count=0
    for i in two_d_array:
        if len(i)!=0:
            sum=0
            for j in i:
                sum=sum+main_numpy_matrix[j][count]
                array_of_mean.append(sum/len(i))
            count=count+1
    return array_of_mean

In [395]:
mean=[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]

#mean=[.8,0.8,.8,.8,.8,.8,.8,.8,1,1,1,1,1,1,1]


for loop in range(0,14):
    nd=[]
    for i in range(0,k):
        nd.append([])
    md=[]
    for i in range(0,k):
        md.append([])
    cluster_index=nd.copy()
    cluster_max=md.copy()
    
    
    counta=0
    print(loop)
    for i in range(0,len(main_numpy_matrix)):
        #print(len(mean))
        dist_ar=[]
        #print("mean",len(mean),loop)
        for j in range(0,len(main_numpy_matrix[i])):
            
            
            
            dist_ar.append(math.fabs(mean[j]-main_numpy_matrix[i][j]))
        
       # print(i,counta,len(main_numpy_matrix))
      
        #print(dist_ar)
        

        max_value,index=max_and_index(dist_ar)
        #print("aaa",max_value)
        cluster_index[index].append(counta)
        #print(cluster_index)
        cluster_max[index].append(max_value)
        #print(cluster_max)

       # print(cluster_index)
        counta=counta+1
        #print("dshgfhkjadsf,asfv,",len(mean))
    #print(loop)  
    
    print(cluster_index)
    mean=mean_of_cluster(cluster_index)
    #print(mean)

0
[[5, 68, 87, 90, 92], [8, 9, 10, 29, 37, 41, 49, 61, 80, 84], [15, 39, 42, 43], [0, 1, 3, 16, 19, 20, 21, 22, 23, 24, 27, 31, 44, 51, 53, 56, 63, 66, 69, 72, 74, 83, 86], [6, 7, 25, 26, 57], [30], [14, 17, 32, 33, 35, 54, 58, 77], [13, 40, 93], [2, 45, 73, 81], [50, 64, 85], [4, 11, 12, 18, 28, 34, 46, 52, 55, 59, 62, 78, 82, 88, 89], [38, 47, 60, 91], [65, 76, 79], [36, 70, 71], [48, 67, 75]]
1
[[3, 4, 6], [37, 61], [], [], [], [0, 1, 5, 9, 14, 16, 17, 18, 22, 23, 25, 29, 31, 32, 33, 35, 36, 38, 39, 41, 45, 46, 48, 50, 51, 53, 55, 58, 60, 62, 65, 68, 70, 73, 75, 82, 83, 84, 85, 86, 87, 89, 92, 93], [2, 7, 10, 12, 13, 15, 19, 24, 26, 27, 28, 30, 40, 42, 43, 44, 47, 49, 52, 57, 59, 63, 64, 66, 67, 69, 71, 72, 78, 80, 81, 90, 91], [20, 21, 54], [8], [], [11, 34, 56, 74, 77, 79, 88], [], [76], [], []]
2
[[20], [], [], [54, 71], [], [14, 33, 35, 37, 51, 78], [1, 7, 16, 18, 19, 24, 28, 29, 30, 31, 36, 44, 45, 46, 48, 50, 61, 65, 68, 75, 76, 84, 86], [10, 15, 39, 41, 42, 43, 53, 62, 64, 70, 72, 73, 79, 80, 85, 88], [13, 22, 58, 59, 93], [11, 47, 69, 74, 77, 83, 89], [25, 40, 87], [], [], [0, 8, 21, 32, 49, 52, 56, 67, 81, 91], [2, 3, 4, 5, 6, 9, 12, 17, 23, 26, 27, 34, 38, 55, 57, 60, 63, 66, 82, 90, 92]]
3
[[20, 27], [40, 47, 54, 91, 92], [9, 56, 74], [], [1, 4, 16, 21, 24, 31, 32, 33, 36, 39, 41, 48, 49, 52, 53, 55, 58, 59, 62, 65, 67, 70, 71, 72, 73, 75, 76, 81, 82, 85, 88, 90, 93], [0, 14, 29, 35, 37, 45, 51, 78], [15, 30, 46, 61, 68], [7, 10, 17, 19, 28, 43, 44, 57, 64, 79, 80, 84], [13, 18, 22, 25, 26, 60], [2, 3, 5, 6, 8, 12, 23, 34, 63, 69, 83, 87], [38, 66, 86], [42, 50, 89], [], [], [11, 77]]
4
[[15, 41], [27], [10, 14, 16, 21, 23, 31, 35, 37, 50, 51, 58, 60, 61, 62, 66, 71, 79, 89, 91, 92], [], [1, 3, 4, 9, 12, 13, 18, 24, 28, 32, 33, 34, 36, 39, 42, 43, 45, 46, 48, 52, 53, 54, 55, 64, 67, 70, 74, 76, 77, 80, 81, 82, 83, 84, 85, 86, 90], [0, 29, 47, 75, 88, 93], [7, 68, 72, 73], [2, 5, 22, 26, 38, 49, 57, 59, 63], [6, 11, 17, 20, 69, 78], [56], [19, 25, 40, 44, 87], [65], [30], [], [8]]
5
[[], [], [12, 20], [], [9, 14, 19, 28, 31, 33, 37, 42, 43, 44, 45, 58, 62, 64, 65, 71, 72, 76, 77, 80, 81, 84, 88, 93], [35, 51, 78], [7, 15, 18, 24, 29, 36, 39, 41, 46, 48, 50, 53, 61, 68, 70, 75, 85, 86], [1, 17, 79], [10, 13, 22, 25, 30, 59, 60], [0, 2, 3, 5, 8, 11, 32, 34, 38, 40, 54, 55, 63, 69, 73, 82, 87, 91, 92], [16], [], [27, 47, 52, 66, 67, 74], [4, 6, 21, 23, 26, 49, 56, 57, 83, 89, 90], []]
6
[[27, 38, 43, 85], [68], [0, 10, 18, 22, 25, 29, 32, 33, 35, 45, 48, 51, 58, 61, 65, 66, 70, 71, 75, 84, 88, 91, 92, 93], [], [2, 3, 4, 5, 9, 11, 12, 15, 21, 23, 24, 30, 34, 52, 54, 59, 63, 67, 74, 77, 83, 87, 89, 90], [1, 16, 36, 41, 50, 62, 81], [73], [7, 17, 19, 28, 39, 44, 46, 55, 64, 79, 86], [26, 47, 80], [6, 37, 57, 60], [14, 76], [13, 31, 40, 42, 53, 72, 82], [], [8], [20, 49, 56, 69, 78]]
7
[[], [], [9], [], [], [35, 37, 51, 71, 78], [15, 16, 18, 20, 24, 31, 36, 39, 41, 46, 50, 53, 68, 70, 75, 76, 85, 86], [1, 14, 17, 19, 28, 42, 43, 62, 64, 72, 79], [10, 22, 44, 54, 60, 61, 65, 82], [0, 11, 32, 34, 55, 77, 93], [25], [45], [2, 27, 29, 33, 38, 47, 48, 73, 81, 88, 91, 92], [4, 5, 7, 8, 13, 21, 23, 40, 49, 52, 56, 57, 63, 67, 69, 74, 80, 83, 84, 89, 90], [3, 6, 12, 26, 30, 58, 59, 66, 87]]
8
[[9, 10, 13, 19, 31, 45, 60, 73, 80, 81, 89], [1, 14, 15, 16, 18, 28, 33, 36, 38, 40, 43, 44, 46, 47, 48, 69, 72, 75, 78, 86, 88, 91, 93], [24, 26, 67, 74], [5, 53, 66, 70, 82, 87], [50], [2, 6, 12, 20, 42, 56, 61], [59, 79], [30, 52], [0, 3, 4, 7, 17, 23, 27, 32, 34, 39, 41, 62, 76, 85], [25, 29], [35, 51, 57, 58, 64, 65, 83], [8, 11, 37, 68, 71, 92], [22, 49, 54, 55, 63, 84, 90], [77], [21]]
9
[[18, 75, 89], [0, 36, 46], [86], [], [2, 11, 38], [71, 85], [20], [22, 92], [], [77], [53, 60, 81], [84], [7, 13, 14, 15, 19, 27, 28, 29, 31, 33, 35, 37, 39, 40, 41, 42, 43, 44, 45, 47, 48, 50, 59, 61, 67, 68, 70, 73, 74, 88, 91, 93], [4, 5, 6, 8, 10, 12, 17, 21, 23, 24, 25, 30, 32, 34, 49, 52, 54, 55, 56, 57, 58, 62, 63, 64, 65, 66, 69, 72, 76, 78, 79, 80, 82, 83, 87, 90], [1, 3, 9, 16, 26, 51]]
10
[[1, 29, 48, 50, 70, 84], [14, 19, 24, 28, 31, 33, 39, 40, 42, 43, 44, 45, 47, 54, 58, 62, 72, 73, 76, 91, 92, 93], [0, 10, 21, 23, 32, 35, 36, 41, 51, 53, 60, 65, 66, 68, 71, 80, 82, 87, 88], [], [3, 4, 5, 9, 11, 12, 13, 15, 30, 34, 46, 52, 55, 59, 64, 67, 74, 77, 78, 83, 86, 90], [16, 38, 81, 89], [7, 25, 37], [8, 56, 61], [], [], [22, 75], [18, 85], [], [2, 6, 17, 26, 27, 57, 63, 79], [20, 49, 69]]
11
[[], [93], [71, 89], [], [9, 24, 32, 55, 72, 73, 77, 80, 81, 82, 88], [33, 70], [7, 15, 16, 18, 19, 20, 28, 29, 30, 31, 36, 39, 41, 44, 45, 46, 48, 50, 51, 53, 61, 65, 68, 75, 76, 84, 85, 86], [17, 42, 62], [1, 10, 22, 35, 60], [0, 2, 3, 5, 8, 11, 34, 38, 54, 79, 91, 92], [], [], [13, 14, 27, 37, 40, 43, 47, 59, 67, 74], [4, 6, 12, 21, 23, 25, 49, 52, 56, 57, 58, 63, 64, 66, 69, 78, 83, 87, 90], [26]]
12
[[14, 21, 23, 52, 88, 93], [4, 50, 55], [30, 69], [46, 48, 75], [0, 2, 3, 8, 11, 12, 15, 31, 34, 40, 44, 54, 61, 63, 66, 67, 68, 91, 92], [1, 16, 25, 36, 62, 65, 71, 85, 89], [13, 22, 47, 64, 90], [26, 27, 35, 38, 49, 59, 60, 74, 78, 87], [5, 9, 51, 57], [42, 77], [53, 72, 81], [10, 17, 41, 58, 76, 80], [6, 24], [], [7, 18, 19, 20, 28, 29, 32, 33, 37, 39, 43, 45, 56, 70, 73, 79, 82, 83, 84, 86]]
13
[[], [11, 60], [2, 34], [9], [], [20], [22, 40, 67, 71, 78, 90, 92], [12, 56], [77], [], [], [15, 29, 39, 44, 48, 70, 75, 85], [0, 7, 13, 18, 27, 36, 37, 38, 41, 46, 47, 50, 52, 53, 68, 73, 81, 88, 91], [8, 21, 49, 69, 83, 86], [1, 3, 4, 5, 6, 10, 14, 16, 17, 19, 23, 24, 25, 26, 28, 30, 31, 32, 33, 35, 42, 43, 45, 51, 54, 55, 57, 58, 59, 61, 62, 63, 64, 65, 66, 72, 74, 76, 79, 80, 82, 84, 87, 89, 93]]

In [396]:
print("hello",main_numpy_matrix)

hello [[0.05486852 0.00278252 0.00287175 ... 0.0018676  0.00271525 0.00413425]
 [0.00070779 0.00657602 0.00112366 ... 0.00020461 0.00029748 0.00045294]
 [0.10151151 0.05152084 0.03725722 ... 0.00070572 0.00102602 0.00156223]
 ...
 [0.01892454 0.00128855 0.00132987 ... 0.00086486 0.00125739 0.03637573]
 [0.08589203 0.0012415  0.00128131 ... 0.00083328 0.00121148 0.00184461]
 [0.07192592 0.         0.00376273 ... 0.         0.         0.        ]]

In [397]:
aq_cluster.index

Index(['12426', '12427', '12468', '12471', '12472', '12473', '12474', '12475',
       '12476', '12477', '12479', '12480', '12481', '12492', '12497', '12498',
       '12500', '12501', '12504', '12516', '12517', '12518', '12519', '12520',
       '12521', '12522', '12524', '12526', '12527', '12528', '12530', '12531',
       '12534', '12559', '12560', '12561', '12566', '12569', '12572', '12580',
       '12581', '12585', '12590', '12592', '12600', '12601', '12603', '12609',
       '12612', '12613', '12614', '12619', '12621', '12622', '12623', '12625',
       '12626', '12627', '12628', '12633', '12635', '12642', '12644', '12645',
       '12647', '12648', '12649', '12654', '12658', '12662', '12665', '12668',
       '12673', '12693', '12701', '12702', '12703', '12705', '12708', '12709',
       '12710', '12712', '12713', '12720', '12738', '13810', '13811', '13812',
       '13813', '13814', '13815', '13816', '13817', '14335'],
      dtype='object')

In [398]:
print("needed", cluster_index)

needed [[], [11, 60], [2, 34], [9], [], [20], [22, 40, 67, 71, 78, 90, 92], [12, 56], [77], [], [], [15, 29, 39, 44, 48, 70, 75, 85], [0, 7, 13, 18, 27, 36, 37, 38, 41, 46, 47, 50, 52, 53, 68, 73, 81, 88, 91], [8, 21, 49, 69, 83, 86], [1, 3, 4, 5, 6, 10, 14, 16, 17, 19, 23, 24, 25, 26, 28, 30, 31, 32, 33, 35, 42, 43, 45, 51, 54, 55, 57, 58, 59, 61, 62, 63, 64, 65, 66, 72, 74, 76, 79, 80, 82, 84, 87, 89, 93]]

In [399]:
required_cluster=[]
for i in range(0,len(cluster_index)):
    b=[]
    for j in cluster_index[i]:
        b.append(aq_cluster.index[j])
    required_cluster.append(b)
        
required_cluster

[[],
 ['12480', '12635'],
 ['12468', '12560'],
 ['12477'],
 [],
 ['12517'],
 ['12519', '12581', '12654', '12668', '12708', '13815', '13817'],
 ['12481', '12626'],
 ['12705'],
 [],
 [],
 ['12498', '12528', '12580', '12600', '12612', '12665', '12702', '13810'],
 ['12426',
  '12475',
  '12492',
  '12504',
  '12526',
  '12566',
  '12569',
  '12572',
  '12585',
  '12603',
  '12609',
  '12614',
  '12621',
  '12622',
  '12658',
  '12693',
  '12712',
  '13813',
  '13816'],
 ['12476', '12518', '12613', '12662', '12720', '13811'],
 ['12427',
  '12471',
  '12472',
  '12473',
  '12474',
  '12479',
  '12497',
  '12500',
  '12501',
  '12516',
  '12520',
  '12521',
  '12522',
  '12524',
  '12527',
  '12530',
  '12531',
  '12534',
  '12559',
  '12561',
  '12590',
  '12592',
  '12601',
  '12619',
  '12623',
  '12625',
  '12627',
  '12628',
  '12633',
  '12642',
  '12644',
  '12645',
  '12647',
  '12648',
  '12649',
  '12673',
  '12701',
  '12703',
  '12709',
  '12710',
  '12713',
  '12738',
  '13812',
  '13814',
  '14335']]

In [400]:
#dfii = pd.DataFrame(cluster_index)
a=[]

for i in range(0,len(required_cluster)):
    
    for j in required_cluster[i]:
        b=[]
        b.append(j)
        b.append("cluster"+str(i+1))
        a.append(b)
       
        
dfii=pd.DataFrame(a,columns=["user_id","cluster"])
dfii

   user_id    cluster
0    12480   cluster2
1    12635   cluster2
2    12468   cluster3
3    12560   cluster3
4    12477   cluster4
..     ...        ...
89   12713  cluster15
90   12738  cluster15
91   13812  cluster15
92   13814  cluster15
93   14335  cluster15

[94 rows x 2 columns]

In [401]:
#dfii.to_csv('cluster.csv',index=False)

In [402]:
#y=dfii.copy()
#y=y.drop(["cluster"], axis=1)
#y.to_csv('user_id.csv',index=False)
#y

In [403]:
print("needed", cluster_max)

needed [[], [0.0020972724423286224, 0.00010245308024117716], [0.0007218818216065681, 0.0007345999476561504], [0.0017521527520058325], [], [0.005783249624019091], [0.0010333215072959173, 0.00038620897314356646, 0.00037022420163938113, 0.012195816664486742, 0.0023358513024240475, 0.0002963642705849836, 0.00028048629308675445], [0.00020029312598327312, 0.0027853440844335317], [0.0019198340553023066], [], [], [0.0002986379426211938, 0.000293579985407519, 0.0003285530633787776, 0.00097394643944588, 0.0006621848356390777, 0.00036585022959112587, 0.00024355529194835602, 0.0003809176566892361], [7.473550987576339e-06, 0.001340471396991201, 0.0013741514446743317, 0.000266399668628708, 0.0010531581267482657, 0.000923145474547622, 0.0015659269679623587, 0.0007532164466261301, 0.0009649699972527653, 0.0013016720609144135, 0.0011889383920445484, 0.0018750752486229767, 0.0016282628504314485, 0.0008585441866262795, 0.000728993437979972, 0.0008394073205605093, 0.0012299510235718545, 0.0009966279158340643, 0.0010102152153366791], [0.004746953749384598, 0.005203801530132326, 0.005006095352929386, 0.005472532703915052, 0.005513467124865694, 0.0007576566332895985], [0.00022969745911089346, 0.0005531713542068384, 0.0003949404255725864, 0.0006080768470827027, 0.0001788323192110175, 0.0014814842250273834, 0.00010631695160681967, 0.00044773608947348777, 0.0017721875836959268, 0.00028337647628135843, 0.0007451593762601602, 0.002368280267796359, 0.00015171277296128236, 0.00029734721050156333, 0.0001843218244813379, 0.0001432272586202218, 0.0006826388842056433, 0.002861603265477179, 0.0007909588152045786, 0.0006826388842056433, 0.0006102305370361265, 0.00027818340269842646, 0.0005125376507141824, 0.00031694260772497144, 0.0015325781926512276, 0.001904168376630432, 0.0002689390066283121, 6.895479827596484e-05, 0.00010880687631264249, 0.0006470901538320512, 0.0006826388842056433, 0.0002545344890843463, 0.00032139875105625763, 0.0007698985109249649, 0.0001228248606544339, 0.0010003221088417797, 0.00032110377265284263, 0.000786377607220304, 0.0003212770915214404, 0.00045462259834466246, 0.0011683999135724836, 0.00037289369421951825, 0.00016999254202387727, 0.0006826388842056433, 0.0006826388842056433]]

In [404]:
print("hello",len(main_numpy_matrix))
print(len(cluster_max))
print(len(cluster_index))

hello 94
15
15

In [405]:
import random
def ndarray():
    a=[]
    for i in range(0,6):
        a.append([])
    
    for i in range(0,6):
        for j in range(0,3):
            a[i].append(random.randint(0,6))
    print(a)
ndarray()

[[2, 0, 3], [6, 2, 6], [4, 2, 1], [3, 1, 1], [3, 4, 6], [2, 1, 5]]

In [406]:
a=[[3, 1, 3], [2, 1, 2], [2, 6, 5], [4, 3, 6], [5, 4, 0], [1, 6, 2]]
print(a[4][1])

4

In [407]:
math.fabs(-2.2)

2.2

In [408]:
math.fabs(-2.2)

2.2

True