# for germany dataset

In [1]:
import pandas as pd
import numpy as np
uk=pd.read_csv("germany_datasets.csv")
#sdf=pd.read_csv("switzerland.csv")
#df=pd.read_csv("uk.csv")

In [2]:
#df

In [3]:
#len(sdf['Description'].unique().tolist())

In [4]:
#len(df['Description'].unique().tolist())

In [5]:
#len(sdf['CustomerID'].unique().tolist())

In [6]:
#len(df['CustomerID'].unique().tolist())

In [7]:
len(uk['Description'].unique().tolist())

1703

In [8]:
len(uk['CustomerID'].unique().tolist())

95

In [9]:
uk

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,554985,20963,APPLE BATH SPONGE,10,5/29/2011 12:26,1.25,12426,Germany
1,554985,21165,BEWARE OF THE CAT METAL SIGN,12,5/29/2011 12:26,1.69,12426,Germany
2,554985,22849,BREAD BIN DINER STYLE MINT,1,5/29/2011 12:26,16.95,12426,Germany
3,554985,23184,BULL DOG BOTTLE OPENER,4,5/29/2011 12:26,4.95,12426,Germany
4,554985,22976,CIRCUS PARADE CHILDRENS EGG CUP,12,5/29/2011 12:26,1.25,12426,Germany
...,...,...,...,...,...,...,...,...
9490,565430,23547,WRAP FLOWER SHOP,25,9/4/2011 13:07,0.42,14335,Germany
9491,565430,16169K,WRAP FOLK ART,25,9/4/2011 13:07,0.42,14335,Germany
9492,565430,23233,WRAP POPPIES DESIGN,25,9/4/2011 13:07,0.42,14335,Germany
9493,565430,22704,WRAP RED APPLES,25,9/4/2011 13:07,0.42,14335,Germany
9494,565430,23232,WRAP VINTAGE LEAF DESIGN,25,9/4/2011 13:07,0.42,14335,Germany

In [10]:
uk.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID       int64
Country         object
dtype: object

In [11]:
uk['CustomerID'] = uk['CustomerID'].astype(str)
uk.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID      object
Country         object
dtype: object

In [12]:
nil=uk[uk['InvoiceNo']=='560939']
nil

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [13]:
apple=uk.dropna()
apple

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,554985,20963,APPLE BATH SPONGE,10,5/29/2011 12:26,1.25,12426,Germany
1,554985,21165,BEWARE OF THE CAT METAL SIGN,12,5/29/2011 12:26,1.69,12426,Germany
2,554985,22849,BREAD BIN DINER STYLE MINT,1,5/29/2011 12:26,16.95,12426,Germany
3,554985,23184,BULL DOG BOTTLE OPENER,4,5/29/2011 12:26,4.95,12426,Germany
4,554985,22976,CIRCUS PARADE CHILDRENS EGG CUP,12,5/29/2011 12:26,1.25,12426,Germany
...,...,...,...,...,...,...,...,...
9490,565430,23547,WRAP FLOWER SHOP,25,9/4/2011 13:07,0.42,14335,Germany
9491,565430,16169K,WRAP FOLK ART,25,9/4/2011 13:07,0.42,14335,Germany
9492,565430,23233,WRAP POPPIES DESIGN,25,9/4/2011 13:07,0.42,14335,Germany
9493,565430,22704,WRAP RED APPLES,25,9/4/2011 13:07,0.42,14335,Germany
9494,565430,23232,WRAP VINTAGE LEAF DESIGN,25,9/4/2011 13:07,0.42,14335,Germany

In [14]:
len(apple['CustomerID'].unique().tolist())

95

In [15]:
len(apple['Description'].unique().tolist())

1703

In [16]:
nil=apple[apple['Quantity']<=0]
nil.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
35,C579090,84598,BOYS ALPHABET IRON ON PATCHES,-288,11/28/2011 10:48,0.21,12427,Germany
43,C539866,22636,CHILDS BREAKFAST SET CIRCUS PARADE,-2,12/23/2010 10:20,7.65,12427,Germany
46,C539866,22634,CHILDS BREAKFAST SET SPACEBOY,-4,12/23/2010 10:20,8.50,12427,Germany
52,C539866,22300,COFFEE MUG DOG + BALL DESIGN,-3,12/23/2010 10:20,2.55,12427,Germany
79,C560564,22352,LUNCH BOX WITH CUTLERY RETROSPOT,-1,7/19/2011 13:42,2.55,12468,Germany

In [17]:
a=nil.head()
a

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
35,C579090,84598,BOYS ALPHABET IRON ON PATCHES,-288,11/28/2011 10:48,0.21,12427,Germany
43,C539866,22636,CHILDS BREAKFAST SET CIRCUS PARADE,-2,12/23/2010 10:20,7.65,12427,Germany
46,C539866,22634,CHILDS BREAKFAST SET SPACEBOY,-4,12/23/2010 10:20,8.50,12427,Germany
52,C539866,22300,COFFEE MUG DOG + BALL DESIGN,-3,12/23/2010 10:20,2.55,12427,Germany
79,C560564,22352,LUNCH BOX WITH CUTLERY RETROSPOT,-1,7/19/2011 13:42,2.55,12468,Germany

In [18]:
new=apple.copy()

In [19]:
new.drop(new[new.Quantity<=0].index,inplace=True)
new

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,554985,20963,APPLE BATH SPONGE,10,5/29/2011 12:26,1.25,12426,Germany
1,554985,21165,BEWARE OF THE CAT METAL SIGN,12,5/29/2011 12:26,1.69,12426,Germany
2,554985,22849,BREAD BIN DINER STYLE MINT,1,5/29/2011 12:26,16.95,12426,Germany
3,554985,23184,BULL DOG BOTTLE OPENER,4,5/29/2011 12:26,4.95,12426,Germany
4,554985,22976,CIRCUS PARADE CHILDRENS EGG CUP,12,5/29/2011 12:26,1.25,12426,Germany
...,...,...,...,...,...,...,...,...
9490,565430,23547,WRAP FLOWER SHOP,25,9/4/2011 13:07,0.42,14335,Germany
9491,565430,16169K,WRAP FOLK ART,25,9/4/2011 13:07,0.42,14335,Germany
9492,565430,23233,WRAP POPPIES DESIGN,25,9/4/2011 13:07,0.42,14335,Germany
9493,565430,22704,WRAP RED APPLES,25,9/4/2011 13:07,0.42,14335,Germany
9494,565430,23232,WRAP VINTAGE LEAF DESIGN,25,9/4/2011 13:07,0.42,14335,Germany

In [20]:
new[new['Quantity']<=0].head()

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [21]:
uk

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,554985,20963,APPLE BATH SPONGE,10,5/29/2011 12:26,1.25,12426,Germany
1,554985,21165,BEWARE OF THE CAT METAL SIGN,12,5/29/2011 12:26,1.69,12426,Germany
2,554985,22849,BREAD BIN DINER STYLE MINT,1,5/29/2011 12:26,16.95,12426,Germany
3,554985,23184,BULL DOG BOTTLE OPENER,4,5/29/2011 12:26,4.95,12426,Germany
4,554985,22976,CIRCUS PARADE CHILDRENS EGG CUP,12,5/29/2011 12:26,1.25,12426,Germany
...,...,...,...,...,...,...,...,...
9490,565430,23547,WRAP FLOWER SHOP,25,9/4/2011 13:07,0.42,14335,Germany
9491,565430,16169K,WRAP FOLK ART,25,9/4/2011 13:07,0.42,14335,Germany
9492,565430,23233,WRAP POPPIES DESIGN,25,9/4/2011 13:07,0.42,14335,Germany
9493,565430,22704,WRAP RED APPLES,25,9/4/2011 13:07,0.42,14335,Germany
9494,565430,23232,WRAP VINTAGE LEAF DESIGN,25,9/4/2011 13:07,0.42,14335,Germany

In [22]:
new.drop(['InvoiceNo', 'InvoiceDate','UnitPrice','Country','Description'], axis=1)

     StockCode  Quantity CustomerID
0        20963        10      12426
1        21165        12      12426
2        22849         1      12426
3        23184         4      12426
4        22976        12      12426
...        ...       ...        ...
9490     23547        25      14335
9491    16169K        25      14335
9492     23233        25      14335
9493     22704        25      14335
9494     23232        25      14335

[9042 rows x 3 columns]

In [23]:
new_matrix = pd.pivot_table(new, values='Quantity', index='CustomerID', columns='StockCode')
new_matrix

StockCode,10002,10125,10135,11001,15034,15036,15039,15044A,15044B,15044D,...,90170,90173,90201A,90201B,90201C,90201D,90202D,90204,M,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
12427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.333333
12468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
12471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.350000
12472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.666667
13816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
13817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500000
14335,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
print(new_matrix.shape)
new_matrix.dropna(axis=0,how="all")

(94, 1665)

StockCode,10002,10125,10135,11001,15034,15036,15039,15044A,15044B,15044D,...,90170,90173,90201A,90201B,90201C,90201D,90202D,90204,M,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
12427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.333333
12468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
12471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.350000
12472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.666667
13816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
13817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500000
14335,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
print(new_matrix.shape)

(94, 1665)

In [26]:
new=new_matrix.copy()
test=new.loc[:,["10002",]]
print(len(test['10002'].unique().tolist()))
#test1=new_matrix.copy()
#test1.
t=test.copy()
t1=t.dropna()
len(t1['10002'].tolist())

2

1

In [27]:
#new_matrix.describe()

In [28]:
#new_matrix.mean()

In [29]:
#new_matrix.fillna(new_matrix.mean())
new_matrix.fillna(0)

StockCode,10002,10125,10135,11001,15034,15036,15039,15044A,15044B,15044D,...,90170,90173,90201A,90201B,90201C,90201D,90202D,90204,M,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12426,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.000000
12427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.333333
12468,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.000000
12471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.350000
12472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13814,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
13815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.666667
13816,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.000000
13817,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.500000
14335,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [30]:
#new_matrix=new_matrix.drop(['nan',])
#new_matrix

In [31]:

customer_index_of_uk=new_matrix.index.values
customer_index_of_uk

array(['12426', '12427', '12468', '12471', '12472', '12473', '12474',
       '12475', '12476', '12477', '12479', '12480', '12481', '12492',
       '12497', '12498', '12500', '12501', '12504', '12516', '12517',
       '12518', '12519', '12520', '12521', '12522', '12524', '12526',
       '12527', '12528', '12530', '12531', '12534', '12559', '12560',
       '12561', '12566', '12569', '12572', '12580', '12581', '12585',
       '12590', '12592', '12600', '12601', '12603', '12609', '12612',
       '12613', '12614', '12619', '12621', '12622', '12623', '12625',
       '12626', '12627', '12628', '12633', '12635', '12642', '12644',
       '12645', '12647', '12648', '12649', '12654', '12658', '12662',
       '12665', '12668', '12673', '12693', '12701', '12702', '12703',
       '12705', '12708', '12709', '12710', '12712', '12713', '12720',
       '12738', '13810', '13811', '13812', '13813', '13814', '13815',
       '13816', '13817', '14335'], dtype=object)

In [32]:
import numpy as np; import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

#df123 = pd.DataFrame(np.random.randint(0, 2, (3, 5)))

#df
##     0  1  2  3  4
##  0  1  1  1  0  0
##  1  0  0  1  1  1
##  2  0  1  0  1  0

#cosine_similarity(df123)
##  array([[ 1.        ,  0.33333333,  0.40824829],
##         [ 0.33333333,  1.        ,  0.40824829],
##         [ 0.40824829,  0.40824829,  1.        ]])

In [33]:
#df123

In [34]:
aq=pd.DataFrame(cosine_similarity(new_matrix.fillna(0)),index=customer_index_of_uk,columns=customer_index_of_uk)
aq

,12426,12427,12468,12471,12472,12473,12474,12475,12476,12477,...,12738,13810,13811,13812,13813,13814,13815,13816,13817,14335
12426,1.000000,0.018553,0.110475,0.052949,0.130029,0.054869,0.099553,0.092818,0.071789,0.026434,...,0.001357,0.099166,0.010141,0.048236,0.035231,0.053322,0.018261,0.102156,0.158904,0.002612
12427,0.018553,1.000000,0.010453,0.015785,0.032536,0.000708,0.020260,0.000548,0.006669,0.002639,...,0.009325,0.011179,0.001111,0.009385,0.001811,0.000556,0.002016,0.010672,0.000260,0.000000
12468,0.110475,0.010453,1.000000,0.084903,0.207272,0.101512,0.183253,0.055773,0.085761,0.031854,...,0.074361,0.069628,0.003832,0.190971,0.031865,0.010074,0.027851,0.369278,0.213596,0.005922
12471,0.052949,0.015785,0.084903,1.000000,0.190239,0.200843,0.198834,0.046858,0.101297,0.061858,...,0.100395,0.054015,0.006998,0.089823,0.080654,0.093048,0.075397,0.084220,0.112286,0.072145
12472,0.130029,0.032536,0.207272,0.190239,1.000000,0.183748,0.358772,0.075909,0.117473,0.064928,...,0.086949,0.129237,0.002643,0.115239,0.113749,0.129831,0.125985,0.184429,0.082218,0.149087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13814,0.053322,0.000556,0.010074,0.093048,0.129831,0.001951,0.104983,0.000000,0.038115,0.066553,...,0.163365,0.060491,0.000000,0.006109,0.113495,1.000000,0.093977,0.058645,0.007930,0.016132
13815,0.018261,0.002016,0.027851,0.075397,0.125985,0.123713,0.075814,0.037433,0.044628,0.027690,...,0.064956,0.026423,0.002793,0.040605,0.027128,0.093977,1.000000,0.011660,0.025516,0.000432
13816,0.102156,0.010672,0.369278,0.084220,0.184429,0.018925,0.153886,0.006342,0.023941,0.014073,...,0.000628,0.001241,0.004696,0.019799,0.010421,0.058645,0.011660,1.000000,0.146074,0.003628
13817,0.158904,0.000260,0.213596,0.112286,0.082218,0.085892,0.072869,0.090596,0.129530,0.028232,...,0.000606,0.058596,0.004525,0.100924,0.096310,0.007930,0.025516,0.146074,1.000000,0.006215
14335,0.002612,0.000000,0.005922,0.072145,0.149087,0.071926,0.076921,0.007476,0.012218,0.012477,...,0.000000,0.003951,0.000000,0.000000,0.005361,0.016132,0.000432,0.003628,0.006215,1.000000

In [35]:
t1=aq.iloc[0:1]
t1

,12426,12427,12468,12471,12472,12473,12474,12475,12476,12477,...,12738,13810,13811,13812,13813,13814,13815,13816,13817,14335
12426,1.0,0.018553,0.110475,0.052949,0.130029,0.054869,0.099553,0.092818,0.071789,0.026434,...,0.001357,0.099166,0.010141,0.048236,0.035231,0.053322,0.018261,0.102156,0.158904,0.002612

In [36]:
t2=t1[t1>0]
t2

,12426,12427,12468,12471,12472,12473,12474,12475,12476,12477,...,12738,13810,13811,13812,13813,13814,13815,13816,13817,14335
12426,1.0,0.018553,0.110475,0.052949,0.130029,0.054869,0.099553,0.092818,0.071789,0.026434,...,0.001357,0.099166,0.010141,0.048236,0.035231,0.053322,0.018261,0.102156,0.158904,0.002612

In [37]:
len(t2.dropna(axis=1).values[0])

92

In [38]:
#check the list no of repetation of non zero value
def tofindthe_no_with_lesser_Data():
    needed=[]
    count=0
    for i in range(0,3920):
        t3=aq.iloc[i:i+1]
        t4=t3[t3>0]

        if(len(t4.dropna(axis=1).values[0]))<70:
            print(len(t4.dropna(axis=1).values[0]))
            needed.append(i)
            count=count+1
    print("count",count)
    print(needed)
# tofindthe_no_with_lesser_Data

In [39]:
cluster_head=[]
for i in range(1,16):
    cluster_head.append(customer_index_of_uk[5*i])

print(cluster_head)
print(len(cluster_head))

['12473', '12479', '12498', '12517', '12522', '12530', '12561', '12581', '12601', '12614', '12625', '12635', '12648', '12665', '12702']
15

In [40]:
aq

,12426,12427,12468,12471,12472,12473,12474,12475,12476,12477,...,12738,13810,13811,13812,13813,13814,13815,13816,13817,14335
12426,1.000000,0.018553,0.110475,0.052949,0.130029,0.054869,0.099553,0.092818,0.071789,0.026434,...,0.001357,0.099166,0.010141,0.048236,0.035231,0.053322,0.018261,0.102156,0.158904,0.002612
12427,0.018553,1.000000,0.010453,0.015785,0.032536,0.000708,0.020260,0.000548,0.006669,0.002639,...,0.009325,0.011179,0.001111,0.009385,0.001811,0.000556,0.002016,0.010672,0.000260,0.000000
12468,0.110475,0.010453,1.000000,0.084903,0.207272,0.101512,0.183253,0.055773,0.085761,0.031854,...,0.074361,0.069628,0.003832,0.190971,0.031865,0.010074,0.027851,0.369278,0.213596,0.005922
12471,0.052949,0.015785,0.084903,1.000000,0.190239,0.200843,0.198834,0.046858,0.101297,0.061858,...,0.100395,0.054015,0.006998,0.089823,0.080654,0.093048,0.075397,0.084220,0.112286,0.072145
12472,0.130029,0.032536,0.207272,0.190239,1.000000,0.183748,0.358772,0.075909,0.117473,0.064928,...,0.086949,0.129237,0.002643,0.115239,0.113749,0.129831,0.125985,0.184429,0.082218,0.149087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13814,0.053322,0.000556,0.010074,0.093048,0.129831,0.001951,0.104983,0.000000,0.038115,0.066553,...,0.163365,0.060491,0.000000,0.006109,0.113495,1.000000,0.093977,0.058645,0.007930,0.016132
13815,0.018261,0.002016,0.027851,0.075397,0.125985,0.123713,0.075814,0.037433,0.044628,0.027690,...,0.064956,0.026423,0.002793,0.040605,0.027128,0.093977,1.000000,0.011660,0.025516,0.000432
13816,0.102156,0.010672,0.369278,0.084220,0.184429,0.018925,0.153886,0.006342,0.023941,0.014073,...,0.000628,0.001241,0.004696,0.019799,0.010421,0.058645,0.011660,1.000000,0.146074,0.003628
13817,0.158904,0.000260,0.213596,0.112286,0.082218,0.085892,0.072869,0.090596,0.129530,0.028232,...,0.000606,0.058596,0.004525,0.100924,0.096310,0.007930,0.025516,0.146074,1.000000,0.006215
14335,0.002612,0.000000,0.005922,0.072145,0.149087,0.071926,0.076921,0.007476,0.012218,0.012477,...,0.000000,0.003951,0.000000,0.000000,0.005361,0.016132,0.000432,0.003628,0.006215,1.000000

In [41]:

aq_cluster=aq[cluster_head]
aq_cluster

,12473,12479,12498,12517,12522,12530,12561,12581,12601,12614,12625,12635,12648,12665,12702
12426,0.054869,0.002783,0.002872,0.083353,0.012970,0.001062,0.070026,0.029813,0.056858,0.000000,0.083150,0.043374,0.001868,0.002715,0.004134
12427,0.000708,0.006576,0.001124,0.020467,0.000075,0.003706,0.000000,0.000172,0.000168,0.002648,0.003196,0.001794,0.000205,0.000297,0.000453
12468,0.101512,0.051521,0.037257,0.109448,0.009544,0.082791,0.017641,0.021938,0.116717,0.000000,0.113867,0.090576,0.000706,0.001026,0.001562
12471,0.200843,0.070814,0.011555,0.212614,0.002607,0.028464,0.073324,0.035449,0.047795,0.000000,0.150837,0.106898,0.043132,0.141251,0.001236
12472,0.183748,0.042500,0.096392,0.207732,0.003381,0.157929,0.077149,0.007771,0.050468,0.009186,0.298679,0.082529,0.175080,0.000708,0.001078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13814,0.001951,0.134390,0.000000,0.136869,0.003424,0.004734,0.006504,0.007870,0.030830,0.003928,0.151247,0.013740,0.008326,0.000000,0.000000
13815,0.123713,0.051378,0.035060,0.111392,0.003741,0.113465,0.014463,0.003932,0.013627,0.005823,0.069281,0.029767,0.064392,0.000748,0.001139
13816,0.018925,0.001289,0.001330,0.043291,0.011696,0.004863,0.021619,0.026885,0.000712,0.000000,0.008933,0.068292,0.000865,0.001257,0.036376
13817,0.085892,0.001241,0.001281,0.081734,0.007614,0.014512,0.013886,0.017502,0.029940,0.000000,0.067966,0.059687,0.000833,0.001211,0.001845
14335,0.071926,0.000000,0.003763,0.003938,0.000000,0.001391,0.132743,0.191458,0.003020,0.000000,0.138799,0.005683,0.000000,0.000000,0.000000

In [42]:
main_numpy_matrix=aq_cluster.to_numpy()
print(len(main_numpy_matrix[1]))
main_numpy_matrix[3]

15

array([0.20084303, 0.07081446, 0.0115553 , 0.21261411, 0.00260694,
       0.02846391, 0.07332405, 0.03544944, 0.04779515, 0.        ,
       0.15083687, 0.10689817, 0.0431324 , 0.14125058, 0.00123581])

In [43]:
k=int(input("enter value of cluster 15"))

enter value of cluster 1515

In [44]:
nd=[]
for i in range(0,k):
    nd.append([])
md=[]
for i in range(0,k):
    md.append([])

def max_and_index(ar):
    max_val=ar[0]
    ind=0
    for a in range(0,len(ar)):
        for b in range(0,len(ar)):
            if(ar[b]>max_val):
                max_val=ar[b]
                ind=b
    return max_val,ind

def mean_of_cluster(two_d_array):
    array_of_mean=[]
    for i in two_d_array:
        if len(i)!=0:
            array_of_mean.append(sum(i)/len(i))
    return array_of_mean

In [45]:
for loop in range(0,k):
    nd=[]
    for i in range(0,k):
        nd.append([])
    md=[]
    for i in range(0,k):
        md.append([])
    cluster_index=nd.copy()
    cluster_max=md.copy()
    
    mean=[]
    counta=0
    for i in range(0,len(main_numpy_matrix)):
        
       # print(i,counta,len(main_numpy_matrix))


        max_value,index=max_and_index(main_numpy_matrix[i])
        #print("aaa",max_value)
        cluster_index[index].append(counta)
        #print(cluster_index)
        cluster_max[index].append(max_value)
        #print(cluster_max)

       # print(cluster_index)
        counta=counta+1
    print(loop)  
    
  
    mean=mean_of_cluster(cluster_max)
    #print(mean)
    mean_index=0
    index_of_a=0
    for a in cluster_index:
        for b in a:
            main_numpy_matrix[int(b)][int(index_of_a)] =mean[mean_index]
        
        mean_index=mean_index+1 
        index_of_a=index_of_a+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [46]:
print("hello",main_numpy_matrix)

hello [[5.48685181e-02 2.78252388e-03 2.87174958e-03 ... 1.86760170e-03
  2.71524555e-03 4.13424823e-03]
 [7.07785239e-04 6.57602266e-03 1.12365769e-03 ... 2.04611365e-04
  2.97477830e-04 4.52941425e-04]
 [1.01511505e-01 5.15208388e-02 3.72572229e-02 ... 7.05719641e-04
  1.02602290e-03 1.56222827e-03]
 ...
 [1.89245407e-02 1.28854761e-03 1.32986677e-03 ... 8.64860033e-04
  1.25739196e-03 3.63757300e-02]
 [2.66401100e-01 1.24149865e-03 1.28130912e-03 ... 8.33281255e-04
  1.21148060e-03 1.84460721e-03]
 [7.19259239e-02 0.00000000e+00 3.76273462e-03 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]]

In [47]:
print("needed", cluster_index)

needed [[3, 5, 68, 87, 90, 92], [8, 9, 10, 29, 37, 41, 49, 61, 80, 84], [15, 39, 42, 43], [0, 1, 16, 19, 21, 23, 24, 27, 31, 44, 51, 53, 56, 63, 66, 69, 72, 74, 83, 86], [6, 7, 25, 26, 57, 60], [30], [14, 17, 32, 33, 35, 54, 58, 77], [13, 40, 93], [2, 45, 73, 81], [50, 64, 85], [4, 11, 12, 18, 28, 34, 46, 52, 55, 59, 62, 78, 82, 88, 89], [38, 47, 91], [20, 65, 76, 79], [22, 36, 70, 71], [48, 67, 75]]

In [48]:
print("needed", cluster_max)

needed [[0.266401099767418, 0.266401099767418, 0.266401099767418, 0.266401099767418, 0.266401099767418, 0.266401099767418], [0.2567049082258234, 0.2567049082258234, 0.2567049082258234, 0.2567049082258234, 0.2567049082258234, 0.2567049082258234, 0.2567049082258234, 0.2567049082258234, 0.2567049082258234, 0.2567049082258234], [0.38585460549339534, 0.38585460549339534, 0.38585460549339534, 0.38585460549339534], [0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883, 0.17833356782918883], [0.5777311554247557, 0.5777311554247557, 0.5777311554247557, 0.5777311554247557, 0.5777311554247557, 0.5777311554247557], [1.0], [0.35441037173912543, 0.35441037173912543, 0.35441037173912543, 0.35441037173912543, 0.35441037173912543, 0.35441037173912543, 0.35441037173912543, 0.35441037173912543], [0.49002251020321824, 0.49002251020321824, 0.49002251020321824], [0.36468618996768654, 0.36468618996768654, 0.36468618996768654, 0.36468618996768654], [0.45419184789179495, 0.45419184789179495, 0.45419184789179495], [0.22677602208341605, 0.22677602208341605, 0.22677602208341605, 0.22677602208341605, 0.22677602208341605, 0.22677602208341605, 0.22677602208341605, 0.22677602208341605, 0.22677602208341605, 0.22677602208341605, 0.22677602208341605, 0.22677602208341605, 0.22677602208341605, 0.22677602208341605, 0.22677602208341605], [0.3765244935664485, 0.3765244935664485, 0.3765244935664485], [0.42734008664310846, 0.42734008664310846, 0.42734008664310846, 0.42734008664310846], [0.43162177608748553, 0.43162177608748553, 0.43162177608748553, 0.43162177608748553], [0.3929116140889996, 0.3929116140889996, 0.3929116140889996]]

In [49]:
print("hello",len(main_numpy_matrix))
print(len(cluster_max))
print(len(cluster_index))

hello 94
15
15

In [50]:
import random
def ndarray():
    a=[]
    for i in range(0,6):
        a.append([])
    
    for i in range(0,6):
        for j in range(0,3):
            a[i].append(random.randint(0,6))
    print(a)
ndarray()

[[4, 6, 1], [2, 4, 3], [2, 4, 6], [6, 2, 2], [5, 3, 4], [0, 2, 2]]